<ul>
  
  <li>
    <a routerLink="/">Home</a>
  </li>

  <li><a routerLink="/leonardo">Leonardo </a></li>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/getApi">Get Api</a></li>
  <li><a routerLink="/dobleDatos">Doble entrada de datos en simultaneo</a></li>
  <li><a routerLink="/listaDatos">Agregar y Eliminar de lista</a></li>

</ul>

<hr>

<router-outlet></router-outlet>

    <!-- <li *ngIf="activated"> Activated </li>

    <li>{{users[1]}}</li> -->
    
    <!-- Recorre lista de usuarios -->
    <!-- <li *ngFor="let user of users"> 
      <app-user [nameUser]="user"></app-user>
    </li> -->

    <!-- Entrada hacia otro componente -->
    <!-- <app-user *ngFor="let user of users" [nameUser]="user"></app-user> -->




    






